<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

<section id="new-features" class="py-8 bg-white sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-center">

            <h1 class="text-3xl font-bold text-gray-900"> Serviços do Munícipe</h1>

            <!--<h2 class="text-4xl font-bold leading-tight text-gray-900 sm:text-4xl xl:text-5xl">
        Serviços do Munícipe </h2>
            <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-8">
        Enhance your workflow with advanced features
      </p> -->
        </div>
        <div
            class="grid grid-cols-1 mt-10 text-center sm:mt-16 sm:grid-cols-2 sm:gap-x-12 gap-y-12 md:grid-cols-3 md:gap-0 xl:mt-24">
            <!-- Feature 1 -->
            <div class="md:p-8 lg:p-14 flex flex-col justify-center items-center">
                <div class="w-14 h-14 rounded-full bg-purple-200 flex justify-center items-center">
                    <i class="fa-solid fa-chart-column text-3xl text-gray-900"></i>
                </div>
                <h3 class="mt-12 text-xl font-bold text-gray-900">Serviço ao Cidadão</h3>
                <p class="mt-5 text-base text-gray-600"> Oferece atendimento ágil e acessível,
                    conectando os munícipes à administração local com eficiência e transparência.
                </p>
            </div>

            <!-- Feature 2 -->
            <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 flex flex-col justify-center items-center">
                <div class="w-14 h-14 rounded-full bg-teal-200 flex justify-center items-center">
                    <i class="fa-solid fa-truck-fast text-3xl text-gray-900"></i>
                </div>
                <h3 class="mt-12 text-xl font-bold text-gray-900">Transporte e Circulação</h3>
                <p class="mt-5 text-base text-gray-600"> Informações sobre rotas, mobilidade urbana e tráfego,
                    estacionamento, condicionamentos, logística, circuitos turísticos, táxis e a segurança
                    viária.</p>

            </div>

            <!-- Feature 3 -->
            <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 flex flex-col justify-center items-center">
                <div class="w-14 h-14 rounded-full bg-yellow-200 flex justify-center items-center">
                    <i class="fa-solid fa-shield text-3xl text-gray-900"></i>
                </div>
                <h3 class="mt-12 text-xl font-bold text-gray-900">Transparencia e dados Abertos</h3>
                <p class="mt-5 text-base text-gray-600"> Promovem o acesso livre a informações públicas,
                    a planos municipais, orçamentos, relatórios, fortalecendo a participação e o controle social.</p>
            </div>

            <!-- Feature 4 -->
            <div class="md:p-8 lg:p-14 md:border-t md:border-gray-200 flex flex-col justify-center items-center">
                <div class="w-14 h-14 rounded-full bg-red-200 flex justify-center items-center">
                    <i class="fa-solid fa-cloud text-3xl text-gray-900"></i>
                </div>
                <h3 class="mt-12 text-xl font-bold text-gray-900">Notícias e Agenda Municipal</h3>
                <p class="mt-5 text-base text-gray-600">Mantêm os cidadãos informados sobre os principais
                    acontecimentos,
                    eventos, avisos, comunicados, calendário cultural do município de Talatona.</p>
            </div>

            <!-- Feature 5 -->
            <div
                class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t flex flex-col justify-center items-center">
                <div class="w-14 h-14 rounded-full bg-green-200 flex justify-center items-center">
                    <i class="fa-solid fa-pen-nib text-3xl text-gray-900"></i>
                </div>
                <h3 class="mt-12 text-xl font-bold text-gray-900">Informação Geográfica</h3>
                <p class="mt-5 text-base text-gray-600">Disponibiliza mapas e dados territoriais para apoiar o
                    planeamento urbano, plantas de localização dos pontos de serviços para facilitar a localização.</p>
            </div>

            <!-- Feature 6 -->
            <div
                class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t flex flex-col justify-center items-center">
                <div class="w-14 h-14 rounded-full bg-orange-200 flex justify-center items-center">
                    <i class="fa-solid fa-bolt text-3xl text-gray-900"></i>
                </div>
                <h3 class="mt-12 text-xl font-bold text-gray-900">Área Reservada</h3>
                <p class="mt-5 text-base text-gray-600">Garante acesso seguro e personalizado
                    Cadastro com número de identificação civil/contribuinte,
                    informações e serviços exclusivos para os munícipes de Talatona.</p>
            </div>
        </div>
        <button
            class="align-center text-gray-800 text-xl font-bold py-2 px-6 rounded-full hover:bg-yellow-400 transition duration-300 underline ml-10">
            Ver mais +
        </button>


    </div>
</section>