<!-- Courses Section -->
<section id="courses" class="py-16 bg-gray-200">
    <div class="container mx-auto px-20">
        <div class="flex justify-between items-center mb-10">
            <h2 class="text-3xl font-bold text-rwanda-blue">Notícias</h2>
            <div class="flex space-x-2">
                <button class="px-4 py-2 bg-yellow-100 rounded-full font-semibold text-sm">Eventos</button>
                <button class="px-4 py-2 bg-green-100 rounded-full font-semibold text-sm">Calendário Cultural</button>
                <button class="px-4 py-2 bg-orange-200 rounded-full font-semibold text-sm">Comunicados</button>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Course Card 1 -->
            <div class="course-card bg-white rounded-xl shadow-md overflow-hidden transition duration-300 relative">
                <div class="relative">
                    <img src="assets/img/Cidade_Financeira_de_Luanda.jpg"
                        alt="Casas Novas" class="w-full h-48 object-cover">
                    <!--<div
                        class="offline-badge absolute top-4 left-4 bg-white px-3 py-1 rounded-full text-xs font-bold text-gray-700">
                        <i class="fas fa-download mr-1"></i> Kubikura
                    </div> -->
                </div>
                <div class="p-5">
                    <div class="flex justify-between items-start">
                        <h3 class="font-bold text-lg mb-2">Novas Urbanizações</h3>
                        <span class="bg-blue-100 text-rwanda-blue text-xs px-2 py-1 rounded">P5 - S3</span>
                    </div>
                    <p class="text-gray-900 mb-4">
                        Novas urbanizações no municipio a serem construídas, para melhor atender as necessidades residenciais.
                    </p>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center">
                            <i class="fas fa-clock text-gray-400 mr-1"></i>
                            <span class="text-sm">Luanda 45</span>
                        </div>
                        <button class="text-sm text-rwanda-blue font-semibold">Saber mais →</button>
                    </div>
                </div>
            </div>

            <!-- Course Card 2 -->
            <div class="course-card bg-white rounded-xl shadow-md overflow-hidden transition duration-300 relative">
                <div class="relative">
                    <img src="assets/img/images.jpeg"
                        alt="Kwandika Ikinyarwanda" class="w-full h-48 object-cover">
                    
                </div>
                <div class="p-5">
                    <div class="flex justify-between items-start">
                        <h3 class="font-bold text-lg mb-2">Denúncias Administrativas</h3>
                        <span class="bg-green-100 text-green-800 text-xs px-2 py-1 rounded">P3 - P6</span>
                    </div>
                    <p class="text-gray-600 mb-4">
                        Homem de 56 anos, denuncia suposta burla na rua do camaral, onde foi vendido um terreno que esta no seu pertence.
                    </p>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center">
                            <i class="fas fa-video text-gray-400 mr-1"></i>
                            <span class="text-sm">Luanda 12</span>
                        </div>
                        <button class="text-sm text-rwanda-blue font-semibold">Saber mais →</button>
                    </div>
                </div>
            </div>

            <!-- Course Card 3 -->
            <div class="course-card bg-white rounded-xl shadow-md overflow-hidden transition duration-300 relative">
                <div class="relative">
                    <img src="assets/img/imgteste.jpeg"
                        alt="Biologiya: Ubuzima bw'ibimera" class="w-full h-48 object-cover">
                    
                </div>
                <div class="p-5">
                    <div class="flex justify-between items-start">
                        <h3 class="font-bold text-lg mb-2">Tarde Recreativa </h3>
                        <span class="bg-yellow-100 text-yellow-800 text-xs px-2 py-1 rounded">S1 - S3</span>
                    </div>
                    <p class="text-gray-600 mb-4">
                       Uma tarde repleta de diversão social e eventos pré-anunciados para animação dos nossos munícipes o laxer o encontra aqui.
                    </p>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center">
                            <i class="fas fa-question-circle text-gray-400 mr-1"></i>
                            <span class="text-sm">Luanda 24</span>
                        </div>
                        <button class="text-sm text-rwanda-blue font-semibold">Saber mais →</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

